<% if logged_in? %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1><%= current_user.name %>さん、第一農場システムへようこそ</h1>
    <%= link_to '新しいロットの登録', new_lot_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to 'ロット一覧へ', lots_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>第一農場システムへようこそ</h1>
      <%= link_to '新規ユーザー登録へ', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>